body {
    margin: 0;
    padding: 0;
}

.body {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    gap: 50px;
}

.form {
    padding: 10px;
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 1px solid black;
}

.label {
    display: flex;
    justify-content: space-between;
}

.label > input {
    width: 200px;
}

#info {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
    height: 200px;
    background-color: lightblue;
}

h1 {
    text-align: center;
    color: cornflowerblue;
}

#count {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: cadetblue;
    color: #efeaef;
    border-radius: 50%;
}

#number {
    font-size: 60px;
}

.pagination {
    padding: 30px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #d6eaf1;
    border: 2px solid #4766a2;
    box-sizing: border-box;
}

.buttons {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}

ul {
    padding-inline-start: 0;
}

.item {
    margin-bottom: 7px;
    padding: 2px 0;
    text-align: center;
    list-style: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.75);
    border-radius: 6px;
}

a {
    font-size: 26px;
}

i {
    color: #4766a2;
}

i:hover {
    font-size: 30px;
    color: #0947be;

}

/*Table*/

.table {
    width: 300px;
    box-sizing: border-box;

}

fieldset {
    padding: 20px;
    width: 300px;
    box-sizing: border-box;
}

legend {
    font-size: 20px;
    font-weight: 700;
}

.input {
    width: 97%;
}

table, th, td {
    border:1px solid black;
}

th,
td {
    padding: 5px;
    margin: 20px;
}